table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid blue;
}

table th {
  background-color: blue;
  color: white;
}

table tr {
  background-color: aliceblue;
}
